
    
    @using BirthCal.DTO;
  
    @model IEnumerable<PersonDTO>

    @{
        ViewData["Title"] = "Lidé";
    }

    <H1 style="text-align:center;margin-bottom:100px; margin-top:100px; color:Black; font-family:sans-serif"><b><u>Lidé</u></b></H1>

    
    @foreach (var person in Model)
    {
            <div class="container col-8" style="border-bottom:solid;border-width:1px; margin-bottom:20px; border-color:slategray">
            
            <h5>@person.FirstName @person.LastName</h5>
            <i>Id: @person.Id</i>

        <p><i>Datum narození: @person.DateOfBirth.ToLongDateString()</i></p>
 
            <div class="container" style="padding:50px;">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <form method="post">
                            <a class="btn btn-outline-warning" asp-action="Update" asp-route-id="@person.Id" style="width:70px">Uprav</a>
                            <button type="submit" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@person.Id" style="width:70px">Vymaž</button>
                        </form>                    
                    </div>
                </div>
            </div>

        </div>
    }
   

    <div class="container" style="padding:50px;">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="btn btn-outline-info my-2" asp-action="Create">Vytvořit</a>
            </div>
        </div>
    </div>



